body{
	color: #efefef;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 15px #000000;

	background: 
	linear-gradient( -45deg, 
		rgba(17, 126, 112, 0.75), 78%,
		rgba(0, 88, 255, 0.45) 29%
		),
	url(../images/cat_anime.gif);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

main{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	display: flex;
	align-items: center;
	width: 75%;
}

.overview{
	padding: 3em;
}

.fullname{
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: .5rem;
}

.job-title{
	color:  #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

hr{
	width: 5rem;
	border: none;
	height: 2px;
	background-color: #00bcd4;
	margin: 1.5rem 0;
}

.description{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
}

.works{
	margin-top: 1.5rem;
	margin-bottom: 5rem;
}

.works h2{
	width: 60px;
	margin-bottom: 1rem;
	object-fit: cover;
}

.works img{
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.works a{
	text-decoration: none;
}

.social-media a{
	color: #efefef;
	margin: 0.5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media a:hover{
	opacity: 1;
}

.ad{
	margin: .5rem;
	font-size: 1rem;
}

.image-container{
	width: 100%;
	padding: 3rem;
}

.image-container img{
	object-fit: cover;
	width: 200px;
	height: 200px;
	border:#d0efff solid 3px;
	border-radius: 50%;
	margin: auto;
	display: block;
}

/* Make our layout responsive */

@media (max-width: 980px){
	.container {
		flex-direction: column;
	}

	.image-container{
		width: 100%;
		padding: 3rem 0 0;
	}

	main{
		background: 
		linear-gradient(rgba(0, 255, 222, 0.45), rgba(0, 88, 255, 0.45)),
		url(../images/cat_anime.gif);
	}

	.fullname, .job-title{
		text-align: center;
	}

	.job-title{
		font-weight: bolder;
	}

	.description{
		text-align: center;
	}

	hr{
		margin: auto;
	}

	.social-media{
		text-align: center;
		margin-top: 3rem;
	}

	.ad{
		text-align: center;
	}

	.works{
		text-align: center;
	}
}